---
import Header from '../components/Header.astro';
import Question from '../components/Question.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="bg-faq absolute top-0">
	</div>
	<main class="max-w-2xl bg-white rounded-xl shadow-xl z-10 mx-auto p-6 w-full">
		<Header />
		<Question name="What is Frontend Mentor, and how will it help me?">
			Frontend Mentor offers realistic coding challenges to help developers improve their 
			frontend coding skills with projects in HTML, CSS, and JavaScript. It's suitable for 
			all levels and ideal for portfolio building.
		</Question>
		<hr class="mt-7 mx-4" />
		<Question name="Is Frontend Mentor free?">
			Yes, Frontend Mentor offers both free and premium coding challenges, with the free 
			option providing access to a range of projects suitable for all skill levels.
		</Question>
		<hr class="mt-7 mx-4" />
		<Question name="Can I use Frontend Mentor projects in my portfolio?">
			Yes, you can use projects completed on Frontend Mentor in your portfolio. It's an excellent
			way to showcase your skills to potential employers!
		</Question>
		<hr class="mt-7 mx-4" />
		<Question name="How can I get help if I'm stuck on a challenge?">
			The best place to get help is inside Frontend Mentor's Discord community. There's a help 
			channel where you can ask questions and seek support from other community members.
		</Question>
		</main>  
</Layout>
<style>
	.bg-faq {
		background-image: url('/background-pattern-desktop.svg');
		width: 100%;
		height: 40%;
	}
</style>
